<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='generated-styles.css') }}" rel="stylesheet">
    <title>Garbage Detect</title>
</head>

<body class="h-full flex bg-slate-50 text-slate-900">
    <nav id="binNav"
        class="flex flex-col items-stretch gap-2 overflow-y-scroll bg-slate-100 py-2 px-8 h-screen min-w-max">
        <a href="/">
            <h1 class="text-2xl font-extrabold text-slate-800 w-full text-center my-5">garbage-detect</h1>
        </a>

        {% for bin in bins %}
        <a class="rounded-xl leading-5 duration-200 flex items-center min-h-[3.5rem] group
        {% if target.id == bin.id %} bg-slate-700 text-slate-100
        {% else %}  hover:bg-slate-200 {% endif %}" href="/b/{{bin.id}}">
            <div class="text-2xl font-semibold w-14 ml-1 h-[calc(100%-0.5rem)] 
            flex items-center justify-center rounded-lg overflow-hidden
            {% if target.id == bin.id %} bg-slate-800 text-slate-100
            {% else %} bg-slate-300 text-slate-400 {% endif %}">
                <span class="group-hover:hidden">
                    {{'-' if bin.latest_litter_count is none else bin.latest_litter_count}}
                </span>
                <button onclick="deleteBin(event, '{{bin.id}}')" class="hidden group-hover:inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                </button>
            </div>
            <div class="px-5 py-2 text-sm">
                <div id="b-{{bin.id}}-address" class="font-bold">{{ bin.address }}</div>
                <div id="b-{{bin.id}}-location" class="font-normal">{{ bin.location }}</div>
            </div>
        </a>
        {% endfor %}

        <a href="/newbin" class="text-center">+</a>
    </nav>

    <main class="py-8 px-10 h-full flex-grow overflow-y-scroll">
        {% block stats %}
        <div class="h-full flex justify-center items-center">Select a garbage bin to view data</div>
        {% endblock %}
    </main>
</body>

<script>
    function deleteBin(e, id) {
        e.preventDefault();
        fetch(`/b/${id}/delete`).then(res => window.location = res.url)
    }

    // Remeber scroll position on page navigation
    const binNav = document.getElementById('binNav');

    document.addEventListener("DOMContentLoaded", (event) => {
        let scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) binNav.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = (_) => {
        localStorage.setItem('scrollpos', binNav.scrollTop);
    };
</script>


</html>