<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='generated-styles.css') }}" rel="stylesheet">
    <title>Garbage Detect</title>
</head>

<body class="h-full flex bg-slate-50 text-slate-900">
    <nav id="binNav"
        class="flex flex-col items-stretch gap-2 overflow-y-scroll bg-slate-100 py-2 px-8 h-screen min-w-max">
        <a href="/">
            <h1 class="text-2xl font-extrabold text-slate-800 w-full text-center my-5">garbage-detect</h1>
        </a>

        {% for bin in bins %}
        <a class="rounded-xl leading-5 duration-200 flex items-center min-h-[3.5rem]        
        {% if target.id == bin.id %}
        bg-slate-700 text-slate-100
        {% else %} 
        hover:bg-slate-200
        {% endif %}" href="/{{bin.id}}">
            <!-- <img class="w-64 h-44 object-cover" src="{{ url_for('static', filename=bin.img_path) }}" alt="Garbage bin"> -->
            <div class="text-2xl font-semibold px-4 ml-1 h-[calc(100%-0.5rem)] flex items-center rounded-lg
            {% if target.id == bin.id %}
            bg-slate-800 text-slate-100 
            {% else %}
            bg-slate-300 text-slate-400 
            {% endif %}">{{ bin.latest_litter_count }}</div>
            <div class="px-5 py-2 text-sm">
                <div class="font-bold">{{ bin.address }}</div>
                <div class="font-normal">{{ bin.location }}</div>
            </div>
        </a>
        {% endfor %}

        <button onclick="addNewBin()">+</button>
    </nav>

    <main class="py-8 px-10 h-full flex-grow overflow-y-scroll">
        {% block stats %}
        <div class="h-full flex justify-center items-center">Select a garbage bin to view data</div>
        {% endblock %}
    </main>
</body>

<script>
    // Remeber scroll position on page navigation
    const binNav = document.getElementById('binNav');

    document.addEventListener("DOMContentLoaded", (event) => {
        let scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) binNav.scrollTo(scrollpos, 0);
    });

    window.onbeforeunload = (_) => {
        localStorage.setItem('scrollpos', binNav.scrollLeft);
    };

    // Bin creation functionality
    function addNewBin() {
        fetch('/newbin');
    }
</script>


</html>